.features {
  margin: 150px 0 90px;
  display: flex;
  justify-content: space-between;

  .features__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);

    img {
      display: block;
      width: 100%;
    }
  }

  .features__content {
    h3 {
      max-width: 385px;
    }

    p {
      max-width: 430px;
      margin: 20px 0;
    }

    .features__list {
      display: flex;
      flex-direction: column;

      .features__item {
        display: flex;
        align-items: center;
        height: 30px;

        svg {
          margin-right: 12px;
        }

        span {
          font-size: 14px;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .features {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .features__img-container {
      transform: none;
      width: 50%;
    }

    .features__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      h3 {
        width: 385px;
        max-width: 100%;
      }

      p {
        width: 430px;
        max-width: 100%;
      }

      .features__list {
        display: flex;
        flex-direction: column;

        .features__item {
          display: flex;
          height: 30px;

          svg {
            margin-right: 12px;
          }

          span {
            font-size: 14px;
          }

          &:not(:last-of-type) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .features {
    margin: 50px 0px;

    .features__content {
      width: 100%;
    }
  }
}
