.button-primary {
  cursor: pointer;
  min-width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  background: $red;
  border-radius: 10px;
  color: #fff;
  transition: 0.15s all linear;
  box-shadow: 0px 26px 50px -8px rgba($red, 0.36);

  &:hover {
    transition: 0.15s all linear;
    box-shadow: 0px 26px 54px -8px rgba($red, 0.8);
  }
}

.button-secondary {
  cursor: pointer;
  min-width: 150px;
  height: 45px;
  border: 2px solid $red;
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  background: transparent;
  transition: 0.15s all linear;

  &:hover {
    background: $red;
    color: #fff;
    transition: 0.15s all linear;
    box-shadow: 0px 10px 40px -8px rgba($red, 0.36);
  }
}

.button-circle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 2px solid $red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: transparent;
  transition: 0.15s all linear;

  svg {
    path {
      fill: $red;
    }
    fill: $red;
  }

  &:hover {
    transition: 0.15s all linear;
    background: $red;
    color: #fff;
    svg {
      path {
        fill: #fff;
      }
      fill: #fff;
    }
  }
}

.button-ternary {
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  background: transparent;
}
